* {
  margin: 0;
}


html, body {
  height: 100%;
}

.welcome {
  background-image: url('http://image.noelshack.com/fichiers/2018/45/7/1541940567-barrbg4.jpg');
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.welcome > .centrer {
    display: inline-block;
    top: 35%;
    transform: translateY(-50%);
    position: absolute;
    margin-left: 125px;
}

.welcome > .centrer > .top-text {
  font-size: 60px;
  color: white;
}

.welcome > .centrer > .bottom-text {
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.bottom-text {
	font-family: 'helvetica neue', sans-serif;
}

.restaurant {
  background-image: url('http://image.noelshack.com/fichiers/2018/45/6/1541863656-bgbas.jpg');
  height: 620px;
  width: 100%;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.restaurant > .centrer {
    display: inline-block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.restaurant .title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px
}

.restaurant .text {
  text-align: center;
  font-size: 18px;
}
